<header class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <%= link_to "Prototype One", '#', id: "logo" %>
      <nav>
        <ul class="nav pull-right">
          <li><%= link_to "Sign in",    '#' %></li>         
          <li><%= link_to "or Sign up",    '#' %></li>
        </ul>
      </nav>
    </div>
  </div>
</header>